<div class="container mobile-container">
	<div class="row">
    	<div class="col-sm-8 col-sm-offset-2 sign-up-div card">
    		<h1>Forgot your password?</h1>
    		<hr>
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div><%= f.label :email %><br />
			  <%= f.email_field :email, :autofocus => true, class: "form-control" %></div>

			  <br>

			  <div><%= f.button "Send me reset password instructions", class: "btn btn-gradient btn-block card", style: "background: #{@market.first_color};  background: -webkit-linear-gradient(left, #{@market.first_color} , #{@market.second_color}); background: -o-linear-gradient(right, #{@market.first_color}, #{@market.second_color}); background: -moz-linear-gradient(right, #{@market.first_color}, #{@market.second_color}); background: linear-gradient(to right, #{@market.first_color} , #{@market.second_color});" %></div>
			<% end %>
			<hr>
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>