<footer class="footer col-sm-12" style="border-top: 5px solid transparent; -moz-border-image: -moz-linear-gradient(left, <%= @market.second_color %> 0%, <%= @market.first_color %> 100%) !important; -webkit-border-image: -webkit linear-gradient(left, <%= @market.second_color %> 0%, <%= @market.first_color %> 100%) !important; border-image: linear-gradient(to right, <%= @market.second_color %> 0%, <%= @market.first_color %> 100%) !important; border-image-slice: 1 !important;">
	<div class="footer-div">
	<h6>This is a beta. Slashform is still in the works. We'd love your feedback.<br>(Yea, that's a haiku <%= markdownify ':sunglasses:' %>)</h6>
	<h6><a href="mailto:feedback@slashform.com?Subject=Product%20Feedback">feedback@slashform.com</a></h6>
	</div>
</footer>