<% if @banner.product_index.present? %>
  <div class="alert alert-info alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= @banner.product_index %>
</div>
<% end %>

<%= render partial: "products/subnav" %>
<div class="content-container">
  <h1 class="page-header">Marketplace</h1>
  <div class="col-sm-3 col-md-2 container-mobile container-mobile-product"> 
    <%= render partial: "products/sidenav" %>
  </div>
  <div class="col-sm-6 col-md-8 container-mobile container-mobile-product"> 
  	<%= render @products %>
    <div class="col-md-12">
      <%= will_paginate @products %>
    </div>
  </div>
  <div class="col-sm-3 col-md-2 container-mobile container-mobile-product"> 
    <%= render partial: "products/sidenav" %>
  </div>
</div>